.services-box {
    display: flex;
    flex-direction: column;
    gap:2vh;
    padding:1.5vw 0 0 0;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.services-text-box {
    display: flex;
    flex-direction: column;
    gap:2vh;
    justify-content: center;
    align-items: center;
    max-width: 30vw;
}

.services-sub-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding: 1.5vw 0 1.5vw 0;
}

.services-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
}

.services-text {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
}

.services-image {
    width: 40vw;
    height: auto;
}

.services-procedure-box {
    display: flex;
    flex-direction: column;
    gap:.5vh;
}