.contact-box {
    display: flex;
    flex-direction: column;
    grid-area:content;
    gap:2vh;
    padding: 1.5vw 0 0 0;
    justify-content: center;
    align-items: center;
}

.contact-image {
    max-width: 40vw;
    height: auto;
    border:1px solid rgb(219, 113, 0);
}

.ned-reservation-box {
    padding: 1.5vw 0 1.5vw 0;
    gap:1.5vh;
    margin-top:1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fa;
    width: 100vw;
}


.reserv-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin:0;
    color: rgb(219, 113, 0);
}
