.home-box {
    display:flex;
    flex-direction: column;
    min-width: 100vw;
}

.overview-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
    padding: 2vw 0 0 0;
}

.text-box, .text-box-skala {
    display: flex;
    flex-direction: column;
    gap:1vh;
    justify-content: center;
    align-items: center;
}

.text-box-skala {
    position: absolute;
    left:25%;
    top:30%;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box-stretch-skala {
    min-width: 100vw;
    min-height: 50vh;
    overflow: hidden;
    background-image: url('../img/skalaontherockthin.jpg');
    background-size:cover;
    background-clip: border-box;
    background-origin: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    background-position-x: left 25%;
}

.home-image {
    max-width: 20vw;
    height: auto;
}

.home-image-stretch {
    min-width: 100vw;
}

.home-text {
    font-size: 1.6rem;
    font-weight: 400;
}

.home-btn {
    border: 2px solid #fb923c;
    border-radius: 1rem;
    padding: 1vh;
    color: #fb923c;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: #fafaf9;
    transition: background-color .5s ease-in .05s;
    transition: color .5s ease-out .05s;
}

.home-btn:hover {
    font-weight: 700;
    background-color: #fb923c;
    color: #fafaf9;
    cursor: pointer;
}