.home-box {
    grid-area: content;
    display:flex;
    flex-direction: column;
    min-width: 100vw;
    box-sizing: border-box;
}

.with-padding {
    padding: 1.5vw 0 1.5vw 0;
}

.overview-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7vw;
}

.text-box, .text-box-skala, .text-box-nedclimb {
    display: flex;
    flex-direction: column;
    gap:1.5vh;
    justify-content: center;
    align-items: center;
}

.text-box-skala {
    position: absolute;
    left:20%;
    top:30%;
}

.text-box-nedclimb {
    position:absolute;
    left:60%;
    top:30%;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box-stretch {
    min-width: 100vw;
    min-height: 50vh;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: border-box;
    background-origin: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.skala {
    background-image: url('../img/skalaontherockthin.jpg');
}

.nedclimb {
    background-image: url('../img/nedclimbcropped.jpg');
}

.home-image {
    max-width: 20vw;
    height: auto;
}

.home-image-stretch {
    min-width: 100vw;
}

.home-text {
    font-size: 2.5rem;
    font-weight: 400;
    margin:0;
}

.home-btn {
    border: 2px solid #fb923c;
    border-radius: 1rem;
    padding: 1vh;
    color: #fb923c;
    font-weight: 400;
    font-size: 1.8rem;
    background-color: #fafaf9;
    transition: background-color .5s ease-in .05s;
    transition: color .5s ease-out .05s;
}

.home-btn:hover {
    background-color: #fb923c;
    color: #fafaf9;
    cursor: pointer;
}