.top-nav-box {
    display:flex;
    flex-direction:column;
    align-items: center;
    grid-area: topnav;
}

.top-nav-links {
    flex:1;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap:5vw;
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
    margin:0;
}

.top-nav-top-box, .top-nav-bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom:1px solid #d4d4d8;
    min-width: 100vw;
}

.top-nav-top-box {
    gap:7vw;
}

@media (max-width:600px) {
    .top-nav-top-box {
        gap:3vw;
    }
}

.top-nav-bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1vw;
    background-color: #f4f4f5;
    padding:1vh;
}

.top-nav-logo {
    height: 20vh;
    width: auto;
}

@media (max-width:600px) {
    .top-nav-logo {
        height: 10vh;
        width: auto;
    }
}

.top-nav-logo:hover {
    cursor: pointer;
}

.top-nav-socialmedia-box {
    margin:auto;
}

.top-nav-socialmedia-png {
    filter: invert(100%) sepia(7%) saturate(5605%) hue-rotate(180deg) brightness(101%) contrast(70%);
    width: 2vw;
    height: auto;
}

.blue-hover:hover {
    filter: invert(28%) sepia(83%) saturate(1370%) hue-rotate(176deg) brightness(89%) contrast(98%);
    cursor: pointer;
}

.pink-hover:hover {
    filter: invert(63%) sepia(21%) saturate(773%) hue-rotate(305deg) brightness(113%) contrast(98%);
    cursor: pointer;
}

.top-nav-button-box {
    margin:auto;
}

.top-nav-button {
    background-color: #d4d4d8;
    border: none;
    outline: none;
    padding:1.2vh;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    border-radius: .25rem;
    margin:auto;
}

.top-nav-button:hover {
    cursor: pointer;
    background-color: #fb923c;
}

@media (max-width:600px) {
    .top-nav-socialmedia-png, .top-nav-button {
        max-width: 7vw;
        height: auto;
    }
    .top-nav-button {
        padding:.7vh;
        font-size: 1.2rem;
    }
}

h1 {
    font-size: 2.5rem;
}

h1:hover {
    cursor: pointer;
    color: #0369a1;
}

a {
    text-decoration: none;
    color:#171717;
  }

a:hover {
    color: #0369a1;
}