.top-nav-box {
    display:flex;
    flex-direction:column;
    align-items: center;
    grid-area: topnav;
}

.top-nav-links {
    flex:1;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap:5vw;
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
}

.top-nav-top-box, top-nav-bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom:1px solid #d4d4d8;
    min-width: 100vw;
}

.top-nav-top-box {
    gap:7vw;
}

.top-nav-bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:1vw;
}

.top-nav-logo {
    height: 20vh;
    width: auto;
}

.top-nav-logo:hover {
    cursor: pointer;
}

.top-nav-socialmedia-box {
    margin:auto;
}

.top-nav-socialmedia-png {
    filter: invert(0%) sepia(9%) saturate(699%) hue-rotate(320deg) brightness(83%) contrast(82%);
}

.top-nav-socialmedia-png:hover {
    filter: invert(28%) sepia(83%) saturate(1370%) hue-rotate(176deg) brightness(89%) contrast(98%);
    cursor: pointer;
}

.top-nav-button-box {
    margin:auto;
}

.top-nav-button {
    background-color: #d4d4d8;
    border: none;
    outline: none;
    padding:1.5vh;
    font-size: 1.1rem;
}

.top-nav-button:hover {
    cursor: pointer;
    background-color: #0369a1;
}

h1 {
    font-size: 2.5rem;
}

h1:hover {
    cursor: pointer;
    color: #0369a1;
}

a {
    text-decoration: none;
    color:#171717;
  }

a:hover {
    color: #0369a1;
}

.active-nav {
    border-bottom: 2px solid #0369a1;
}